doctype html

html

	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title Document
		link(href=require('../css/style.css') rel='stylesheet')

	body

		- const titleClass = 'text-center uppercase font-bold text-3xl tracking-wider my-3';
		h1(class=titleClass) Pages

		nav.max-w-3xl.mx-auto.flex.flex-col.items-start
			- const linkClass = 'uppercase font-medium text-lg tracking-wide my-1 hover:underline decoration-2';
			a(href="pages/home.html" class=linkClass) Home
			a(href="pages/about.html" class=linkClass) About
			a(href="pages/contact.html" class=linkClass) Contact

		div.flex.flex-wrap
			img(class="w-1/4 shrink-0 object-contain" src=require('../images/test.jpg'))
			img(class="w-1/4 shrink-0 object-contain" src=require('../images/test.png'))
			img(class="w-1/4 shrink-0 object-contain" src=require('../images/test.webp'))
			img(class="w-1/4 shrink-0 object-contain" src=require('../svg/test.svg'))

		script(src=require('../js/app.js'))