doctype html

head
	meta(charset='UTF-8')
	meta(name='viewport' content='width=device-width, initial-scale=1.0')
	title Document
body
	h1(class='Fw(b) Fz(2rem)') Hello World!
	p(class='Fw(b) C(limegreen)').
		Lorem ipsum, dolor, sit amet consectetur adipisicing elit. Veritatis dignissimos maxime soluta est doloremque quia voluptatem facilis porro amet sequi!
	ul
		li Lorem
		li Ipsum
		li Dolor

	img(src=require('../images/test.jpg') alt='Test Image')
	img(src=require('../images/test.png') alt='Test Image')
	img(src=require('../images/test.webp') alt='Test Image')
	img(src=require('../svg/test.svg') alt='Test Image' width='100')

	link(href=require('../sass/style.sass') rel='stylesheet')
	link(href=('css/atomizer.css') rel='stylesheet')
	script(src=require('../js/app.js'))
